@media (max-width: 767px) {
    .navbar-collapse {
      position: fixed;
      left: -100%;
      top: 0;
      bottom: 0;
      z-index: 999;
      width: 70%;
      transition: left 0.3s ease;
    }
  
    .navbar-collapse.show {
      left: 0;
    }
  
    .navbar-toggler {
      margin-left: auto;
    }
  }
  